:root {
    font-family: system-ui;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

div.uber-container {
    width: 400px;
}

label.source-text {
    display: block;
    margin-bottom: 12px;
}

textarea.source-text {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    padding: 12px;
}

div.output-text-container {
    font-family: monospace;
    padding: 12px 0px 12px 12px;
}

.hex-digit {
    display: inline-block;
    margin-right: 6px;
    width: 2ch;
}

.selected {
    font-weight: bold;
}