:root {
    font-family: system-ui;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

div.uber-container {
    width: 400px;
}

label.source-text {
    display: block;
    margin-bottom: 12px;
}

textarea.source-text {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    padding: 12px;
}

div.output-text-container {
    overflow-wrap: anywhere;
    padding: 12px;
}