:root {
    font-family: system-ui;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

div.uber-container {
    width: 400px;
}

label.source-text {
    display: block;
    margin-bottom: 12px;
}

textarea.source-text {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    padding: 12px;
}

.hex-container {
    font-family: monospace;
    padding: 12px 0px 12px 12px;
}

.hex-digit {
    display: inline-block;
    margin-right: 6px;
    width: 2ch;
}

.selected {
    font-weight: bold;
}

.extraction-container {
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin-top: 6px;
    margin-bottom: 12px;
}

.extractor-title {
    margin: 12px;
    font-weight: bold;
}

.extracted-emoji {
    margin-left: 12px;
    margin-right: 12px;
    line-height: 3.5ch;
    word-break: break-all;
}

.extracted-emoji>span {
    margin-right: 6px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    padding: 4px 3px;
}